<div class="top-title-bar color-blacked">
    <h3>
        <i class="hide fa fa-user fa-fw"></i>
        Empresas
    </h3>
    <div class="actions pull-right">
        <a class="btn btn-primary theme-light" href="#/empresas-new"><i class="fa fa-plus"></i> Nuevo</a>
        <a class="btn btn-primary theme-light" ng-click="confirmRemove()" ng-class="{disabled:!(multipleSelected>0)}"><i class="fa fa-trash"></i> Borrar</a>
        <span ng-class="{hide:!(multipleSelected>0)}">
        {{multipleSelected}}
        </span>
    </div>
</div>

<!-- Grid -->
<div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-cellNav class="grid"></div>
