<div>
    <div class="modal-header">
        <h3 class="modal-title">Confirmar Borrado</h3>
    </div>
    <div class="modal-body">
        <p>
            ¿Está seguro de que desea borrar {{ items.length === 1 ? "el item" : "los items"}}?
        </p>
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{extra}}{{ item[valor] }}</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">
            <i class="fa fa-trash" style="margin-right: 5px;"></i>
            Borrar
        </button>
    </div>
</div>
